rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // WARNING: These rules are for debugging only and grant open access 
    // to your entire database. This is not secure for a production environment.
    // This allows all read and write operations from any user.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
